jupytext

matplotlib
numpy
scipy
pandas

#plotly is a rich HTML5 charting library
plotly
#Cufflinks providings pandas bindings for pandas dataframes
cufflinks

#We need to enable the qgrid extension in postBuild in order to display it
notebook<7
jupyterlab<3
qgrid==1.3.1


#Stats packages
seaborn
statsmodels

scikit-learn

#Piecewise linear models
pwlf

tqdm
